[Unit]
Description=BlackArch Linux Controller Script

[Service]
Type=oneshot
ExecStart=/usr/bin/bactl
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
